.container
  if page.name === 'Jumbotron'
    .row.space-bottom
      .col-md-12  
        ol.breadcrumb
          li
            a(href='/') Home
          li.active= page.name
  else
    .row
      .col-md-12  
        ol.breadcrumb
          li
            a(href='/') Home
          li.active= page.name
