header
  //- Include Navbar-default
  include ../Partials/PageParts/Navigation.jade

// Include Jumbotron
include ../Partials/bootstrap/Jumbotron.jade

main.container
  .row

    //- Include Page-header
    include ../Partials/bootstrap/Page-header.jade

    //- Include Breadcrumb
    include ../Partials/bootstrap/Breadcrumb.jade

    //- Include Pagination
    include ../Partials/bootstrap/Pagination.jade

    //- Include Pager
    include ../Partials/bootstrap/Pager.jade

    .clearfix
    hr.space-bottom

    //- Include Labels
    include ../Partials/bootstrap/Labels.jade

    //- Include Labels
    include ../Partials/bootstrap/Badgets.jade

    .clearfix
    hr.space-bottom

    //- Include Thumbnails
    include ../Partials/bootstrap/Thumbnail.jade 

    .clearfix
    hr.space-bottom

  .row

    //- Include Alerts
    include ../Partials/bootstrap/Alerts.jade 

    //- Include Progress-bars
    include ../Partials/bootstrap/Progress-bars.jade 

    .clearfix
    hr.space-bottom

  .row
    //- Include Media-object
    include ../Partials/bootstrap/Media-object.jade

    .clearfix
    hr.space-bottom

    //- Include List-group
    include ../Partials/bootstrap/List-group.jade

    .clearfix
    hr.space-bottom

    //- Include Panels
    include ../Partials/bootstrap/Panels.jade
    