header
  //- Include Navbar-default
  include ../../Partials/PageParts/Navigation.jade

//- Include Breadcrumb
include ../../Partials/PageParts/Breadcrumb.jade

main.container
  .row
    //- Include Alerts
    include ../../Partials/bootstrap/Alerts.jade 