//- bootstrap/Alerts.jade
extends ../../Layouts/Default.jade
block Vars
  - var sub = true
  - var page = {name: 'Alerts', url: 'Alerts.html', parent: 'Bootstrap CSS Elements', index: false}
  - var active = page.name

block main
  .row
    //- Include Alerts
    include ../../Partials/bootstrap/Alerts.jade 

