//- bootstrap/List-groups.jade
extends ../../Layouts/Default.jade
block Vars
  - var sub = true
  - var page = {name: 'List groups', url: 'List-groups.html', parent: 'Bootstrap CSS Elements', index: false}
  - var active = page.name

block main
  .row.space-bottom
    //- Include Alerts
    include ../../Partials/bootstrap/List-group.jade 
