doctype html
html(lang='en')

  //- Include <HEAD></HEAD>
  include ../Partials/Head.jade

  body

    //- Include Template
    include ../Templates/Default.jade

    //- Include Footer
    include ../Partials/Footer.jade
