//- test.jade

doctype html
html(lang='en')

  block defaultVars
    include ../Configuration/Defaults.jade
  block Vars

  head
    block head
      //- Include <HEAD></HEAD>
      include ../Partials/Head.jade
  
  body

    // HEADER Start
    header
      block header
        //- Include Navbar-default
        include ../Partials/PageParts/Navigation.jade

        //- Include Breadcrumb
        if !page.index
          include ../Partials/PageParts/Breadcrumb.jade
    // HEADER End

    if page.index
      // JUMBOTRON Start
      block jumbotron
        //- Full width  
        .jumbotron
          .container
            .row
              .col-md-12
                h1 Jumbotron
                h2 Full width and without corners
                p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
                a.btn.btn-primary.btn-lg(href='#' role='button') Learn more
          // img.img-responsive(src='img/jumbotron/01.jpg', alt='alt')
      // JUMBOTRON End

    if page.name === 'Jumbotron'
      main
        block main
    else
      main.container
        block main

    footer   
      block footer
        //- Include Footer
        include ../Partials/Footer.jade

    block scripts
      if sub
        script(src='../js/main.js')
      else  
        script(src='js/main.js')

      script(type='text/javascript').
        jQuery(document).ready(function(){
          $('body').fullWidthBgImg();
        });
