doctype html
html(lang='en')

  block defaultVars
    include ../configuration/Defaults
  block Vars

  head
    block meta
      include ../partials/meta
    block css
      include ../partials/css
  
  body
    // START <header>
    header
      block header
        //- Include Navbar-default
        include ../partials/header/header
    // END </header>

    // START <main>
    main
      block main
    // END </main>

    // START <footer>
    footer
      block footer
        //- Include Navbar-default
        include ../partials/footer/footer
    // END </footer>
    
    // START Scripts
    block scripts
      include ../partials/js
    // END Scripts
