doctype html
html(lang='en')

  block defaultVars
    include ../Configuration/Defaults.jade
  block Vars

  head
    block head
      //- Include <HEAD></HEAD>
      include ../Partials/Head.jade
  
  body
    // START <header>
    header
      block header
        //- Include Navbar-default
        include ../Partials/PageParts/Header/Navigation.jade
    // END </header>
    // START <main>
    main
      block main
    //END </main>
       
    block footer
      //- Include Navbar-default
      include ../Partials/PageParts/Footer/Footer.jade

    block scripts
      script(src='js/main.min.js')
      script(type="text/javascript").
