doctype html
html(lang='en')

  block defaultVars
    include ../configuration/Defaults.pug
  block Vars

  head
    block meta
      include ../partials/meta.pug
    block css
      include ../partials/css.pug

  body
    // START <header>
    header
      block header
        //- Include Navbar-default
        include ../partials/header/header.pug
    // END </header>

    // START <main>
    main
      block main
    // END </main>

    // START <footer>
    footer
      block footer
        //- Include Navbar-default
        include ../partials/footer/footer.pug
    // END </footer>

    // START Scripts
    block scripts
      include ../partials/js.pug
    // END Scripts
