//- Default.jade

- var sub = false
- var page = {name: 'Home', url: '/', parent: ''}
- var active = 'Home'

doctype html
html(lang='en')

  //- Include <HEAD></HEAD>
  include ../Partials/Head.jade

  body



    //- Include Template
    include ../Templates/index.jade

    //- Include Footer
    include ../Partials/Footer.jade
