//- Main Navigation Listpoints
- var nav = { 'Home' : '/', 'Bootstrap CSS Elements' : 'bootstrap/' }

//- Sub Navigation Listpoints
if sub
  - var subnav = { 'Jumbotron' : 'Jumbotron.html', 'Alerts': 'Alerts.html', 'Badgets' : 'Badgets.html', 'Pagination' : 'Pagination.html', 'Labels' : 'Labels.html', 'Thumbnails' : 'Thumbnails.html', 'Progress bars' : 'Progress-bars.html', 'Media objects' : 'Media-object.html', 'List groups' : 'List-groups.html', 'Panels' : 'Panels.html'}
else
  - var subnav = { 'Jumbotron' : 'bootstrap/Jumbotron.html', 'Alerts': 'bootstrap/Alerts.html', 'Badgets' : 'bootstrap/Badgets.html', 'Pagination' : 'bootstrap/Pagination.html', 'Labels' : 'bootstrap/Labels.html', 'Thumbnails' : 'bootstrap/Thumbnails.html', 'Progress bars' : 'bootstrap/Progress-bars.html', 'Media objects' : 'bootstrap/Media-object.html', 'List groups' : 'bootstrap/List-groups.html', 'Panels' : 'bootstrap/Panels.html' }

- var hasSub = { sub1: 'Bootstrap CSS Elements'}