//- Default.jade

- var sub = true
- var page = {name: 'Alerts', url: 'Alerts_Layout.html', parent: 'Bootstrap Elements'}
- var active = page.name

doctype html
html(lang='en')

  //- Include <HEAD></HEAD>
  include ../../Partials/Head.jade

  body

    //- Include Template
    include ../../Templates/bootstrap/Alerts_Template.jade

    //- Include Footer
    include ../../Partials/Footer.jade
