//- Badgets_Layout.jade

- var sub = true
- var page = {name: 'Badgets', url: 'Badgets_Layout.html', parent: 'Bootstrap Elements'}
- var active = 'Badgets'


doctype html
html(lang='en')

  //- Include <HEAD></HEAD>
  include ../../Partials/Head.jade

  body

    //- Include Template
    include ../../Templates/bootstrap/Badgets_Template.jade

    //- Include Footer
    include ../../Partials/Footer.jade