//- ../Partials/Footer.jade
.container
  .row
    .col-md-12
      p.small.pull-left © 2015 #{defaults.pageName}
      p.pull-right
        a(href="#" title="Impressum") Impressum
        |  | 
        a(href="#" title="Kontakt") Kontakt
