//- ../Partials/Head.jade

meta(charset='utf-8')
title= page.title
meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
meta(http-equiv="cache-control" content="public")
meta(http-equiv="expires" content="2419200")
// HTML5 shim, for IE6-8 support of HTML5 elements
<!--[if lt IE 9]>
<script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
<![endif]-->
link(href='css/libs.min.css' rel='stylesheet')
link(href='css/index.min.css' rel='stylesheet')
