.col-md-6.space-bottom
  h3 Badgets
  hr
  .space-bottom
    a(href='#') Inbox&nbsp;
      span.badge 42
  button.btn.btn-primary.space-bottom(type='button') Message&nbsp;
    span.badge 4
  h4 Adapts to active nav states
  ul.nav.nav-pills.space-top(role='tablist')
    li.active(role='presentation')
      a(href='#') Home &nbsp;
        span.badge 42
    li(role='presentation')
      a(href='#') Profile
    li(role='presentation')
      a(href='#') Messages &nbsp;
        span.badge 3