//- Bootstrap Jumbotron

//- Full width  
.jumbotron
  .container
    .row
      .col-md-12
        h1 Jumbotron
        h2 Full width and without corners
        p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
        a.btn.btn-primary.btn-lg(href='#' role='button') Learn more
        
//- Fixed width
.container
  .row
    .col-md-12
      h2 Jumbotron
      .jumbotron
        h1 Hello World!
        p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
        a.btn.btn-primary.btn-lg(href='#' role='button') Learn more
