.col-md-12.space-bottom
  h2 Labels
.col-md-6
  h3 Example Headers Labels
  hr
  h1 Header (h1)&nbsp;
    span.label.label-default Label
  h2 Header (h2)&nbsp;
    span.label.label-primary Label
  h3 Header (h3)&nbsp;
    span.label.label-success Label
  h4 Header (h4)&nbsp;
    span.label.label-info Label
  h5 Header (h5)&nbsp;
    span.label.label-warning Label
  h6 Header (h6)&nbsp;
    span.label.label-danger Label