.col-md-12
  h2 List groups

.col-md-4

  h3 Basic example

  ul.list-group
    li.list-group-item Cras justo odio
    li.list-group-item Dapibus ac facilisis in
    li.list-group-item Morbi leo risus
    li.list-group-item Porta ac consectetur ac
    li.list-group-item Vestibulum at eros

.col-md-4

  h3 Badges

  ul.list-group
    li.list-group-item
      span.badge 14
      | Cras justo odio
    li.list-group-item 
      span.badge 2
      | Dapibus ac facilisis in
    li.list-group-item 
      span.badge 1
      | Morbi leo risus

.col-md-4

  h3 Linked items and disabled items

  .list-group
    a.list-group-item.active(href='#')
      span.badge 14
      | Cras justo odio
    a.list-group-item(href='#') Dapibus ac facilisis in
    a.list-group-item(href='#') Morbi leo risus
    a.list-group-item.disabled(href='#') Porta ac consectetur ac
    a.list-group-item(href='#') Vestibulum at eros

.clearfix

.col-md-8

  h3 Contextual classes
  .row
    .col-md-6
      ul.list-group
        li.list-group-item.list-group-item-success Cras justo odio
        li.list-group-item.list-group-item-info Dapibus ac facilisis in
        li.list-group-item.list-group-item-warning Morbi leo risus
        li.list-group-item.list-group-item-danger Porta ac consectetur ac

    .col-md-6
      .list-group
        a.list-group-item.list-group-item-success(href='#') Cras justo odio
        a.list-group-item.list-group-item-info(href='#') Dapibus ac facilisis in
        a.list-group-item.list-group-item-warning(href='#') Morbi leo risus
        a.list-group-item.list-group-item-danger(href='#') Porta ac consectetur ac

.col-md-4

  h3 Custom content

  .list-group
    a.list-group-item.active(href='#')
      h4.list-group-item-heading List group item heading
      p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    a.list-group-item(href='#')
      h4.list-group-item-heading List group item heading
      p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    a.list-group-item(href='#')
      h4.list-group-item-heading List group item heading
      p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
