.col-md-12
  h2 Media-object

.col-md-6

  h3 Default media

  .media
    .media-left
      a(href='#')
        img.media-object(src='holder.js/64x64')
    .media-body
        h4.media-heading Media heading
        p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 

  .media
    .media-left
      a(href='#')
        img.media-object(src='holder.js/64x64')
    .media-body
      h4.media-heading Media heading
      p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 
      .media
        .media-left
          a(href='#')
            img.media-object(src='holder.js/64x64')
        .media-body
            h4.media-heading Nested media heading
            p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 

  .media
    .media-body
        h4.media-heading Media heading
        p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 
    .media-right
      a(href='#')
        img.media-object(src='holder.js/64x64')


.col-md-6
  
  h3 Media alignment

  .media
    .media-left.media-top
      a(href='#')
        img.media-object(src='holder.js/64x64')
    .media-body
        h4.media-heading Media heading
        p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 

  .media
    .media-left.media-middle
      a(href='#')
        img.media-object(src='holder.js/64x64')
    .media-body
      h4.media-heading Media heading
      p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 

  .media
    .media-left.media-bottom
      a(href='#')
        img.media-object(src='holder.js/64x64')
    .media-body
      h4.media-heading Media heading
      p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 

.clearfix

.col-md-12

  h3 Media list

  ul.media-list
    li.media
      .media-left
        a(href='#')
          img.media-object(src='holder.js/64x64')
      .media-body
        h4.media-heading Media heading
        p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 
        .media
          .media-left
            a(href='#')
              img.media-object(src='holder.js/64x64')
          .media-body
            h4.media-heading Media heading
            p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 
            .media
              .media-left
                a(href='#')
                  img.media-object(src='holder.js/64x64')
              .media-body
                h4.media-heading Media heading
                p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 
        .media
          .media-left
            a(href='#')
              img.media-object(src='holder.js/64x64')
          .media-body
            h4.media-heading Media heading
            p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 


