.col-md-12
  h2 Pager

.col-md-3
  h4 Default
  nav
    ul.pager
      li
        a(href='#') Previous
      li
        a(href='#') Next
.col-md-9
  h4 Aligned links with optional disable state
  nav
    ul.pager
      li.previous.disabled
        a(href='#') <span aria-hidden='true'>&larr;</span> Older
      li.next
        a(href='#') Newer <span aria-hidden='true'>&rarr;</span> 