.col-md-12
  h2 Panels

.col-md-6
  h3 Basic

  .panel.panel-default
    .panel-body Basic panel example

  h3 Panel with heading

  .panel.panel-default
    .panel-heading Panel heading without title
    .panel-body Panel content

  .panel.panel-default
    .panel-heading 
      h3.panel-title Panel title 
    .panel-body Panel content
    .panel-footer Panel footer

.col-md-6

  h3 Contextual alternatives

  .panel.panel-primary
    .panel-heading Panel heading without title
    .panel-body Panel content

  .panel.panel-success
    .panel-heading Panel heading without title
    .panel-body Panel content
    
  .panel.panel-info
    .panel-heading Panel heading without title
    .panel-body Panel content
    
  .panel.panel-warning
    .panel-heading Panel heading without title
    .panel-body Panel content
    
  .panel.panel-danger
    .panel-heading Panel heading without title
    .panel-body Panel content

.clearfix

.col-md-6

  h3 With tables

  .panel.panel-default
    .panel-heading 
      h3.panel-title Panel title 
    .panel-body
      p Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
    table.table
      thead
        tr
          th #
          th First Name
          th Last Name
          th Username
      tbody
        tr
          th 1
          th Mark
          th Otto
          th @mdo
      tbody
        tr
          th 2
          th Jacob
          th Thornten
          th @fat
      tbody
        tr
          th 3
          th Larry
          th the Bird
          th @twitter

.col-md-6

  h3 With list groups

  .panel.panel-default
    .panel-heading 
      h3.panel-title Panel title 
    .panel-body
      p Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.

    ul.list-group
      li.list-group-item Cras justo odio
      li.list-group-item Dapibus ac facilisis in
      li.list-group-item Morbi leo risus
      li.list-group-item Porta ac consectetur ac
    
